.Nav-bar{
    display: flex;
    flex-direction: row;
}

.name{
    color: rgb(85, 83, 83);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin-left: 5rem;    
}

.space{
    padding-left: 15rem;
}


.btn-navbar{
    display: inline;
    color: rgb(85, 83, 83);
    font-size: 1.2rem;
    padding-top: 0.6rem;
    margin-left: 5rem;
    list-style-type: none;
}


